@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Nunito:wght@500;700;900&display=swap');

* {
	box-sizing: border-box;
	user-select: none;
}

:root {
	--font-heading: 'Nunito', sans-serif;
	--font-body: 'Atkinson Hyperlegible', sans-serif;

	--border-radius: 7px;
	--border-radius-small: 3px;
	--border-radius-big: 14px;

	--black: #000;
	--white: #fff;
	--red: #ff6854;
	--red-light: #ffb6ac;
	--red-dark: #c34d3d;
	--orange: #ffa654;
	--orange-light: #ffefe0;
	--yellow: #ffe854;
	--yellow-light: #fff5b3;
	--purple: #bb78bd;
	--purple-light: #fee0ff;
	--blue: #7896bd;
	--blue-light: #bfdbff;
	--green: #56df34;
	--green-light: #b9ffa8;
	--green-dark: #4ab130;
	--gray: #808080;
	--gray-light: #dcdcdc;
}

body,
html {
	font-family: var(--font-body);
	margin: 0;
	padding: 0;
	height: 100%;

	background-color: var(--white);
}

/* NProgress customization */
#nprogress .bar {
	background: var(--red);
}
#nprogress .peg {
	box-shadow: 0 0 10px var(--red), 0 0 5px var(--red);
}
