@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	box-sizing: border-box;
	user-select: none;
}

:root {
	--font-heading: 'Nunito', sans-serif;
	--font-body: 'Inter', sans-serif;
}

body,
html {
	font-family: var(--font-body);
	margin: 0;
	padding: 0;
	height: 100%;

	color: #fff;
	background-color: #000;
}

body {
	display: flex;
}
